body{
    margin: 0;
}
.container{
    border: 6px solid black;
    display: flex;

    /*********************************************** display-property ***********************************************/
    /************************** horizontal **************************/
    /* display: flex;    
    display: inline-flex; */

    /*********************************************** flex-direction ***********************************************/
    /************************** horizontal **************************/
    /* flex-direction: row;
    flex-direction: row-reverse; */

    /************************** vertical **************************/
    /* flex-direction: column;
    flex-direction: column-reverse; */


    /*********************************************** flex-direction ***********************************************/
    /************************** horizontal **************************/
    /* flex-wrap: wrap;
    flex-wrap: wrap-reverse; */
    
    /************************** vertical **************************/
    /* vertikal with container overflow */
    /* height: 400px;
    flex-direction: column;      */
    /* flex-wrap: wrap;
    flex-wrap: wrap-reverse; */
    

    /********************************************** justify-content **********************************************/
    /************************** horizontal **************************/
    /* justify-content: flex-start; 
    justify-content: flex-end;
    justify-content: center; 
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */

    /************************** vertical **************************/
    /* flex-direction: column;
    height: 800px;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
}
.flex-item{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-1{
    background-color: #b4bf35;
}
.item-2{
    background-color: #b95f21;
}
.item-3{
    background-color: #1c4c56;
}
.item-4{
    background-color: #cfb276;
}
.item-5{
    background-color: #6b0803;
}
.item-6{
    background-color: #1c4c56;
}
.item-7{
    background-color: #b95f21;
}
.item-8{
    background-color: #01243a;
}
.item-9{
    background-color: #aad041;
}